<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soft</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Soft.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kindergarten</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
	                    <li class="nav-item">
		                    <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
	                    </li>
	                    <li class="nav-item">
		                    <a class="nav-link" asp-area="" asp-controller="Groups" asp-action="Index">Groups</a>
	                    </li>
	                    <li class="nav-item">
		                    <a class="nav-link" asp-area="" asp-controller="Registrations" asp-action="Index">Registrations</a>
	                    </li>
	                    <li class="nav-item">
		                    <a class="nav-link" asp-area="" asp-controller="MovieRoles" asp-action="Index">Roles</a>
	                    </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Testing" asp-action="Index">Testing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="AllStaffs" asp-action="Index">Personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Children" asp-action="Index">Lapsed</a>
                        </li>
	                    <li class="nav-item">
		                    <a class="nav-link" asp-area="" asp-controller="Representatives" asp-action="Index">Esindajad</a>
	                    </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Menus" asp-action="Index">Menüü</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted border-top box-shadow">
		<div class="container text-center">
			<div class="py-2">
				📍 <a href="https://maps.app.goo.gl/rEzTsv8DpvnHoH7cA" target="_blank">123 Random Place</a>
			</div>
			<div class="py-2">
				📞 +123 1234-5678 | 
				✉ <a href="mailto:info@kindergarten.com">info@kindergarten.com</a>
			</div>
			<div class="py-2">
				&copy; 2025 - Kindergarten | 
				<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
			</div>
		</div>
	</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
