@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold home-heading">Welcome</h1>
</div>

<div style="margin-top: 40px;">
	<a asp-controller="Home" asp-action="Privacy" class="btn btn-light m-2">Test Privacy Btn</a>
</div>
